<h1>Tadpoles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tadpoles.each do |tadpole| %>
      <tr>
        <td><%= link_to tadpole.name, tadpole %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
